@import '../../../styles/variables.scss';

.voucher-section {
	flex: 1;
	margin: $spacing-xs $spacing-md;
}

.vouchers-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 5rem;
	row-gap: 5rem;
}

// media queries
@media only screen and (min-width: 1800px) {
	.vouchers-container {
		grid-template-columns: repeat(5, 1fr);
	}
}

@media only screen and (max-width: 1425px) {
	.vouchers-container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media only screen and (max-width: 1100px) {
	.vouchers-container {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 12.5rem;
	}
}
@media only screen and (max-width: 850px) {
	.vouchers-container {
		grid-template-columns: repeat(1, 1fr);
		column-gap: 12.5rem;
	}
}
