@import '../../../styles/variables.scss';

.form {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin: $spacing-xs $spacing-md;

	&-group {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
		padding: 1rem;
	}

	&-btn {
		background-color: $color-green-light;
		border: none;
		padding: 0.75rem 0;
		border-radius: 10px;

		&:hover {
			filter: brightness(0.9);
		}

		&:active {
			filter: brightness(0.8);
		}
	}
}

.label {
}

.input {
	width: 70%;
	border: 1px solid $color-green-black;
	border-radius: 10px;
	padding: 2.5px 0 2.5px 20px;
	margin: 2.5px;
}
