// variables
$color-green-black: #0d1b1e;
$color-green-light: #c3dbc5;
$color-blue-light: #7798ab;

$font-primary: 'hind madurai', verdana sans-serif;
$font-secondary: 'telex', tahoma, sans-serif;
$font-headings: 'montserrat', trebuchet, sans-serif;

$spacing-lg: 10rem;
$spacing-md: 7.5rem;
$spacing-sm: 6rem;
$spacing-xs: 3.5rem;

$font-size-xl: 3.6rem;
$font-size-lg: 2.4rem;
$font-size-default: 1.8rem;
$font-size-sm: 1.6rem;
