@import '../../../styles/variables.scss';

footer {
	display: flex;
	justify-content: space-around;
	background-color: $color-green-black;
	padding: $spacing-sm 0;
}

.footer-list {
	text-align: center;
	&-container {
		text-align: center;
		& h4 {
			margin-bottom: $spacing-xxs;
		}

		& li {
			list-style: none;
			color: white;
		}
	}
}
