@import '../../../styles/variables.scss';

h1 {
	font-size: $font-size-xl;
	font-weight: 700;
}

h2 {
	font-size: $font-size-xl;
	font-weight: 500; /* CHECK THIS */
}

h3 {
	font-size: $font-size-lg;
	font-weight: 400;
}

.body-text {
	letter-spacing: 0.5px;
}

.nav-text {
	font-family: $font-secondary;
	font-size: $font-size-lg;
	cursor: pointer;

	&:hover {
		color: $color-blue-light;
	}

	&:active {
		filter: brightness(0.8);
	}
}
