@import '../../../styles/variables.scss';

h1 {
	font-size: $font-size-xl;
	font-weight: 700;
}

h2 {
	font-size: $font-size-xl;
	font-weight: 500;
}

h3 {
	font-size: $font-size-lg;
	font-weight: 600;
}

h4 {
	font-size: $font-size-default;
	font-weight: 400;
	color: $color-white;
}

.body-text {
	letter-spacing: 0.5px;
}

.nav-text {
	font-family: $font-secondary;
	font-size: $font-size-default;
	cursor: pointer;

	&:hover {
		color: $color-blue-light;
	}

	&:active {
		filter: brightness(0.8);
	}
}

.footer-item {
	font-size: $font-size-sm;
	color: $color-white;
	cursor: pointer;

	&:hover {
		color: $color-green-light;
	}

	&:active {
		filter: brightness(0.8);
	}
}

.color-white {
	color: $color-white;
}
