@import '../../../styles/variables.scss';

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	border-radius: 5px;
	background-color: rgb(244, 244, 244);
	margin: 20px;
	padding: 20px;

	&-img {
		max-height: 100px;
		max-width: 100px;
		margin: $spacing-xxs 0;
	}

	&-text {
		flex: 1;
		text-align: center;

		& > * {
			margin-bottom: 10px;
		}
	}

	&-btn {
		background-color: $color-green-light;
		padding: 5px 10px;
		border-radius: 10px;

		&:hover {
			filter: brightness(0.8);
		}

		&:active {
			filter: brightness(0.6);
		}
	}
}

// media queries

@media only screen and (max-width: 700px) {
	.card {
		max-width: 350px;
		margin: 20px auto;
	}
}
