@import '../../../styles/variables.scss';

.submitted-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10rem 0;
}

.thanks-img {
	width: 15rem;
	padding-bottom: 1.5rem;
}
