@import '../../../styles/variables.scss';

.top {
	&-xs {
		margin-top: $spacing-xs;
	}
	&-sm {
		margin-top: $spacing-sm;
	}
	&-md {
		margin-top: $spacing-md;
	}
	&-lg {
		margin-top: $spacing-lg;
	}
}

.right {
	&-xs {
		margin-right: $spacing-xs;
	}
	&-sm {
		margin-right: $spacing-sm;
	}
	&-md {
		margin-right: $spacing-md;
	}
	&-lg {
		margin-right: $spacing-lg;
	}
}

.bottom {
	&-xs {
		margin-bottom: $spacing-xs;
	}
	&-sm {
		margin-bottom: $spacing-sm;
	}
	&-md {
		margin-bottom: $spacing-md;
	}
	&-lg {
		margin-bottom: $spacing-lg;
	}
}

.left {
	&-xs {
		margin-left: $spacing-xs;
	}
	&-sm {
		margin-left: $spacing-sm;
	}
	&-md {
		margin-left: $spacing-md;
	}
	&-lg {
		margin-left: $spacing-lg;
	}
}

@media only screen and (max-width: 425px) {
	.top {
		&-xs {
			margin-top: $spacing-xxs;
		}
		&-sm {
			margin-top: $spacing-xs;
		}
		&-md {
			margin-top: $spacing-sm;
		}
		&-lg {
			margin-top: $spacing-md;
		}
	}

	.right {
		&-xs {
			margin-right: $spacing-xxs;
		}
		&-sm {
			margin-right: $spacing-xs;
		}
		&-md {
			margin-right: $spacing-sm;
		}
		&-lg {
			margin-right: $spacing-md;
		}
	}

	.bottom {
		&-xs {
			margin-bottom: $spacing-xxs;
		}
		&-sm {
			margin-bottom: $spacing-xs;
		}
		&-md {
			margin-bottom: $spacing-sm;
		}
		&-lg {
			margin-bottom: $spacing-md;
		}
	}

	.left {
		&-xs {
			margin-left: $spacing-xxs;
		}
		&-sm {
			margin-left: $spacing-xs;
		}
		&-md {
			margin-left: $spacing-sm;
		}
		&-lg {
			margin-left: $spacing-md;
		}
	}
}
