@import '../../../styles/variables.scss';

.top {
	&-xs {
		margin-top: $spacing-xs;
	}
	&-sm {
		margin-top: $spacing-sm;
	}
	&-md {
		margin-top: $spacing-md;
	}
	&-lg {
		margin-top: $spacing-lg;
	}
}

.right {
	&-xs {
		margin-right: $spacing-xs;
	}
	&-sm {
		margin-right: $spacing-sm;
	}
	&-md {
		margin-right: $spacing-md;
	}
	&-lg {
		margin-right: $spacing-lg;
	}
}

.bottom {
	&-xs {
		margin-bottom: $spacing-xs;
	}
	&-sm {
		margin-bottom: $spacing-sm;
	}
	&-md {
		margin-bottom: $spacing-md;
	}
	&-lg {
		margin-bottom: $spacing-lg;
	}
}

.left {
	&-xs {
		margin-left: $spacing-xs;
	}
	&-sm {
		margin-left: $spacing-sm;
	}
	&-md {
		margin-left: $spacing-md;
	}
	&-lg {
		margin-left: $spacing-lg;
	}
}
