.card-section {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

// media queries
@media only screen and (max-width: 1400px) {
	.card-section {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media only screen and (max-width: 1200px) {
	.card-section {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 700px) {
	.card-section {
		grid-template-columns: repeat(1, 1fr);
	}
}
